$color: rgba(255, 255, 255, 0.959);
$color_theme1: darken($color, 25%);
$color_theme2: darken($color, 35%);
$color_theme3: darken($color, 50%);
$color_red: rgba(216, 40, 40, 0.778);
$color_green: rgba(30, 185, 30, 0.864);